/* regole generali*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
display: flex;
justify-content: flex-end;
background-color: rgb(0, 0, 0);
}

.bottone{
background-color:rgb(95, 95, 96);
height: auto;
background-color: rgb(95, 95, 96);
padding: 10px;
border-radius: 18px;
margin: 7px;
}

.macrocontenitore::after{
    content: "";
    display: table;
    clear: both;
}

.colonnasx{
    float: left;
    width: 10%;
}

.colonnapersone{
    float: left;
    width: 75%;
}



.immagini{
    display: inline-block;
}

.view{
    display: flex;
    justify-content:space-between;
    
    
}

/* regole main */

main{
    height: calc(100vh - 154px);
    /* regole debug */
    background-color: rgb(0, 0, 0);

}



/* regole header */

header{
    height: 50px;
    display: flex;
    /* regole debug */
    background-color: rgb(80, 86, 95);
    justify-content:space-between;
    align-items: center;
    

}


/* regole nav sx */
.nav_sx{
    display: flex;
    /* regoledebug */
   
}

.audio{
    margin: 0 10px;
    /* regoledebug */
  
}

.video{
    margin: 0 10px;
     /* regoledebug */
   
}

/* regole nav centro */
.nav_centro{
    display: flex;
    /* regoledebug */
    
}

.ico{
    margin: 0 20px;
    
    /* regoledebug */

}
.bott{
    display: block;
    
}

.far{
    font-size: 25px;
    color: white;
}

.fas{
    font-size: 25px;
    color: white;
}

.fa-chevron-up{
    font-size: 15px;
    
}

/* regole nav dx */
.nav_dx{
    display: flex;
    background-color: rgb(95, 95, 96);
    /* regoledebug */
   
}

.fineriunione{

}

.rosso{
    color: red;
}
